<% unless is_a?(Devise::SessionsController) %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="row">
        
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <%= link_to image_tag("logo_head.png", class:"logo"), root_path %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
              <div class="menu">
                <%= link_to (empresa_path) do %>
                  <li class=<%= 'active' if current_page?(action: :empresa)%> >
                    La empresa
                  </li>
                <% end %>
                <%= link_to (products_path) do %>
                  <li class=<%= 'active' if current_page?(action: :products)%> >
                    Productos
                  </li>
                <% end %>
                <%= link_to (promos_path) do %>
                  <li class=<%= 'active' if current_page?(action: :promos)%> >
                    Promociones
                  </li>
                <% end %>
                <%= link_to (contact_path) do %>
                  <li class=<%= 'active' if current_page?(action: :contact)%> >
                    Contacto
                  </li>
                <% end %>
              </div>
            </ul>
          </div><!-- /.navbar-collapse -->
        
      </div>
    </div><!-- /.container-fluid -->
  </nav>
<% end %>



<!--
<ul class="nav navbar-nav pull-right">
  <div class="menu">
    <li class=<%= 'active' if current_page?(action: :empresa)%> >
      <%= link_to 'la empresa', empresa_path %>
    </li>
    <li class=<%= 'active' if current_page?(action: :products)%> >
      <%= link_to 'productos', products_path %>
    </li>
    <li class=<%= 'active' if current_page?(action: :promos)%> >
      <%= link_to 'promociones', promos_path %>
    </li>
    <li class=<%= 'active' if current_page?(action: :contact)%> >
      <%= link_to 'contacto', contact_path %>
    </li>
  </div>
</ul>
-->