<% unless is_a?(Devise::SessionsController) %>
<!-- <nav>  -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <%= link_to image_tag("logo_head.png", class:"logo"), root_path %>
        </div>
        <div class="col-lg-9 col-md-9">
          <!-- <ul class="nav navbar">-->
          <ul>         
            <li class=<%= 'active' if current_page?(action: :index)%> >
              <%= link_to 'la empresa', empresa_path %>
            </li>
            <li class=<%= 'active' if current_page?(action: :products)%> >
              <%= link_to 'productos', products_path %>
            </li>
            <li class=<%= 'active' if current_page?(action: :promos)%> >
              <%= link_to 'promociones', promos_path %>
            </li>
            <li class=<%= 'active' if current_page?(action: :contact)%> >
              <%= link_to 'contacto', contact_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<% end %>

<div class="borde">
  <!-- <%= image_tag ('triang.png') %> -->
</div>
