var ready;
ready = function() {
  //category examples
  $('#carousel1, #carousel2, #carousel3').carousel({ interval: 6000});
  //home slider
  $(function() {
    $('#slides').slidesjs({
      play: {
            active: false,
            effect: "slide",
            interval: 5000,
            auto: true,
            pauseOnHover: true
      },
      width: 300,
      height: 500,
      navigation: false
    });
  });
  // map
  if ($('#map').length > 0){
    var map = L.mapbox.map('map', 'sarriagada.j4p9400k', {
      accessToken: 'pk.eyJ1Ijoic2FycmlhZ2FkYSIsImEiOiJPMFJEZy1BIn0.6iTs7zB1bZisiF07DGkwfA'
    }).setView([-26.818881351038332, -65.20836353302002], 15);
    map.scrollWheelZoom.disable();
    var myIcon = L.icon({
      iconUrl: '<%= asset_path "icono_mapa.png" %>',
      iconSize: [55, 66],
      iconAnchor: [27, 65]
    });

    var points = [{
      direction: 'SANTA FE 909',
      image: '<%= asset_path("category-example.jpg") %>',
      location: [-26.818881351038332, -65.20836353302002]
    },
    {
      direction: 'SANTIAGO 684',
      image: '<%= asset_path("category-example.jpg") %>',
      location: [-26.823745251292927, -65.20510196685791]
    },{
      direction: 'LOBO DE LA VEGA 1ª cuadra',
      image: '<%= asset_path("category-example.jpg") %>',
      location: [-26.8069481,-65.2941369]
    },{
      direction: 'AV. ACONQUIJA 299',
      image: '<%= asset_path("category-example.jpg") %>',
      location: [-26.8175774,-65.2696317]
    }]

    points.forEach(function(point){
      console.log(point);
      var content = '<p>' + point.direction + '</p><img src="' + point.image + '">'
      L.marker(point.location, {icon: myIcon}).addTo(map).bindPopup(content,{closeButton: false, offset: [0, -40]});
    });

    $('.ubicar-mapa').first().click(function() {
      map.setView([-26.818881351038332, -65.20836353302002], 15);
    });
    $('.ubicar-mapa').last().click(function() {
      map.setView([-26.8105481,-65.2801369], 15);
    });
  }
  // cartel
  var my_day = new Date();
  var open_time = Date.today().set({ hour: 9, minute: 45 });
  var close_time = Date.today().set({ hour: 14, minute: 00 });
  var open_time_afternoon = Date.today().set({ hour: 17, minute: 30 });
  var close_time_afternoon = Date.today().set({ hour: 22, minute: 00 });
  if (my_day.getDay() != 7){
    if (my_day.between(open_time, close_time) || my_day.between(open_time_afternoon, close_time_afternoon)){
      $('.cartel').attr('src', '<%= asset_path("boton_abierto.png")%>');
      $('.luces').show();
    }else{
      $('.cartel').attr('src', '<%= asset_path("boton_cerrado.png")%>');
      $('.luces').hide();
    }
  }else if(my_day.getDay() == 6){
    if (my_day.between(open_time, close_time)){
      $('.cartel').attr('src', '<%= asset_path("boton_abierto.png")%>');
      $('.luces').show();
    }else{
      $('.cartel').attr('src', '<%= asset_path("boton_cerrado.png")%>');
      $('.luces').hide();
    }
  }

  // products
  var $grid = $('.lista-productos');
  $grid.shuffle({
      itemSelector: '.product'
  });
  $grid.on('done.shuffle', function() {
    console.log('Finished initializing shuffle!');
  });
  $('.fitros-productos a').click(function (e) {
      e.preventDefault();
      $('.fitros-productos a').removeClass('active');
      $(this).addClass('active');
      var groupName = $(this).attr('data-group');
      $grid.shuffle('shuffle', function($el, shuffle) {
        var el;
        if ($el.data('groups').indexOf(groupName) > -1){
          el = $el;
        }
        return el
      });
  });

  var getUrlParameter = function(sParam){
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
      var sParameterName = sURLVariables[i].split('=');
      if (sParameterName[0] == sParam) 
      {
        return sParameterName[1];
      }
    }
  }

  var categoryParams = getUrlParameter('category');
  if (categoryParams){
    console.log('ok');
    $('.fitros-productos a').removeClass('active');
    $('.fitros-productos a[data-group=' + categoryParams +']').addClass('active');
    var groupName = categoryParams;
    $grid.shuffle('shuffle', function($el, shuffle) {
      var el;
      if ($el.data('groups').indexOf(groupName) > -1){
        el = $el;
      }
      return el
    });
  }
};

$(document).ready(ready);
$(document).on('page:load', ready);