<h1>Nuevo email de contacto</h1>
<ul>
  <li>Nombre: <%= @message.name %></li>
  <li>Empresa: <%= @message.company %></li>
  <li>Telefono: <%= @message.phone %></li>
  <li>Celular: <%= @message.cellphone %></li>
  <li>Email: <%= @message.mail %></li>
</ul>
<h3><%= @message.subject %></h3>
<p><%= @message.body %></p>